body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
    font-size: 1em;
}

input {
    font-size: 0.75em;
}

.grid-container {
    display: grid;
    grid-template-columns: [gutter1] 1fr [main] 60vw [gutter2] 1fr[end];
    grid-template-rows: [header]60px [video] auto [console]100px [manifest] 1fr [footer]1fr [end];
    grid-template-areas:
        'header header header'
        'gutter1 video gutter2'
        'gutter1 console gutter2'
        'gutter1 manifest gutter2'
        'footer footer footer';
    justify-items: stretch;
}

#header {
    grid-area: header;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
}


#videoArea {
    grid-area: video;
    background-color: rgb(32, 32, 32);
    border-radius: 8px;
    padding: 8px;
}

#video-container {
    grid-area: video;
    height: auto;
    width: 100%;
    overflow-x:hidden;
}

#console {
    grid-area: console;
    background-color: rgb(88, 88, 88);
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 5px;
    height: auto;
    overflow-y: scroll;
    color: lightblue;
    font-weight: 400;
    font-size: 0.75em;
    font-family: 'Consolas', monospace;
}

#manifest {
    grid-area: manifest;
}

#manifestUrl {
    inline-size: 95%;
}

.metadata-show {
    font-size: 1em;
    font-weight: 700;
    position: absolute;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 1);
    width: 80%;
    height: 1.2em;
    top: 30px;
    left: 20px;
    animation: 1.2s slidein ease-in;
}

@keyframes slidein {
    from {
        left: -300px;
        opacity: 0;
    }

    to {
        left: 20px;
        opacity: 1;
        background-color: rgba(255, 255, 255, 1);
    }
}

.metadata-hide {
    font-size: 1em;
    font-weight: 700;
    position: absolute;
    padding-left: 10px;
    width: 80%;
    opacity: 0;
    height: 1.2em;
    top: 30px;
    left: 20px;
    animation: 1.2s fadeout ease-out;
}

@keyframes fadeout {
    from {
        opacity: 1;
        background-color: rgba(255, 255, 255, 1);
    }

    to {
        opacity: 0;
        background-color: rgba(255, 255, 255, 0);
    }
}